body{
    font-family: 'Work Sans', sans-serif;
}
 /* --------------------- Header section style ---------------------- */

nav{
    display:flex; 
    justify-content:space-between;

}
.nav-title{
    margin-left:160px;
    margin-top: 50px;
    margin-bottom:0px;
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}
nav li{
    list-style:none;
    margin-left: 40px;
    
}
.menu{    
    display:flex;
    justify-content:space-between;
    margin-right: 170px;
    margin-top: 60px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    text-align: center;    
}

/* -----------------------------  Banner-section style------------------ */

.banner-section{
    text-align: center;
    background: rgba(255, 144, 14, 0.1);
    margin-top:0px;
}

.banner-details{
    Width: 700px;
    Height:220px;
    margin:0 250px;
}

.banner-title{
    margin-top:0px;
    margin-bottom:20px;
    padding-top: 60px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #131313;
}

.banner-paragraph{
    font-weight: 400;
    font-size: 16px;
    margin-top:0px;
    text-align: center;
    color: #727272;
}

.button{
    margin-top: 10px;
    width: 180px;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 10px;
    transition: width 2s height 2s;
}

/* button animation */
.button:hover{
    width:220px;
    height:100px;
}

/* banner image design */
.banner-img{
    margin-top: 150px;
    width: 1000px;
    height: 480px;
    margin-bottom: 120px;
    border-radius: 15px;
}

/* ------------------------- Feature section Styles---------------- */

.feature-section{
    display: grid;
    grid-template-columns: 480px 380px;
    margin: 0px 140px;
    padding-bottom: 100px; 

}

.team-images{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: -12px;
}
.feature-section>div {
    flex: 1;
}

.team-images img{
    width:100%;
    height:100%;

}


/* section right side */

.feature-description{
    margin: 80px 100px 100px 50px;
}
.feature-description h2{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 0px;
    width: 368px;
    height: 106px;
    line-height: 53px;
    color: #131313;
}
.first-text{
    font-weight: 500;
    line-height: 45px;
    
    color: #727272;
}

.last-text{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
} 

.feature-details{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 480px;
    margin-bottom: 15px;
    color: #727272;
}
.feature-description .button{
    margin-top: 20px;
}


/* -------------- Third Section Style-------------------- */


.third-feature-section{
    display:flex;
    column-gap: 20px;
    margin: 0px 80px 80px 140px;

}

.third-feature-section>div{
    flex: 1;
}
.third-feature-section .architect-img{
    width: 500px;
    height: 800px;
}
.line{
    width: 5px;
    height: 100px;
    left: 140px;
    margin-top: 20px;
    background: #FF900E;
}

.third-section-title{
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    width: 400px;
    height: 80px;
    margin-left: 20px;
    margin-top: -90px;
    color: #131313;
}

.third-section-paragraph{
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

.details{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding:15px;
}
.details h4{
    margin:0px;
    font-weight: 600;
    font-size: 18px;
    color: #131313;

}
.feature-details .details{
    margin-bottom: 15px;
}
.feature-paragraph{
    font-weight: 400;
    font-size: 15px;
    color: #727272;
}

.feature-details, .feature-title{
    margin-right: 60px;
}
.feature-title{
    margin-bottom: 25px;
}

/* architect button style */
.arc-button{
    width: 220px;
    height: 120px;
    background: #FF900E;
    border-radius: 10px;
    padding:20px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-left: -60px;
    margin-top: -200px;
    transition: width 1s;

}

.arc-button:hover{
    width: 280px;
}
.last-text{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}


.fact-description{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 60px 150px;
    gap: 80px;
}

/* .fact-description>div{
    border: 1px solid #FF900E;
    align-items: start center;

} */

.fact-details{
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 10px;
    transition: transform 2s;
    padding: 30px 20px ;
}

/*----------------------------- fact details  animation ---------------*/
.fact-details:hover{
    transform: rotate(360deg);
}

.fact-title{
    margin-left: 130px;

}

.fact-title h3{
    font-weight: 700;
    font-size: 40px;
    margin-bottom:20px;
    line-height: 50px;
    color: #131313;
}

.fact-title p{
    width: 450px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
 .fact-details h3, h5{
    margin: 0px;
    margin-top:0px;
    padding-bottom: 10px;
 }

 .fact-details h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: #727272;
 }
 .fact-details img{
    margin-bottom: 10px;
 }

